@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

/*
    GENARIC ELEMENTS & REUSE
*/

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

input, textarea {
    width: 100%;
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
}

input:hover, textarea:hover {
    border-color: #f06449;
}

input:focus, textarea:focus {
    border-color: #f06449;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.color-text {
    color: blue;
}

.click {
    transition: all 350ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.2);
}

.click:active {
    transform: scale(0.8);
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.fa-link {
    cursor: not-allowed;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect--black:after {
    background-color: black;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

/*
    NAVIGATION/LANDING PAGE
*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 100%;
    max-width: 1000px;
}

.personal-logo {
    max-width: 100px;
    max-height: 100px;
}

.title,
.title--secondary {
font-size: 116px;
margin-bottom: 12px;
line-height: 1;
text-align: left;
max-width: 580px;
}

.header--para {
font-size: 24px;
max-width: 448px;
line-height: 2;
}

.social__list {
margin-top: 16px;
display: flex;
}

.social__link {
    background-color: orangered;
    padding: 6px;
    font-size: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 50%;
}

.nav__link--list {
    display: flex;
}


.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font: 16px;
    font-weight: 700;
    color: black;
}

.fa-adjust {
    font-size: 20px;
}

.mail__btn {
    width: 72px;
    height: 72px;
    font-size: 32px;
    border-radius: 50%;
    position: absolute;
    bottom: 32px;
    right: 40px;
    color: white;
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 16px;
    height: 24px;
    border: 2px solid black;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    background-color: black;
    width: 8px;
    height: 4px;
    border-radius: 2px;
    animation: scroll 1s infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

/*
    MODAL
*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    box-shadow: 0 20px 80px 0 black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.modal__half {
    width: 50%;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.modal__about {
    background-color: rgb(236, 231, 231);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: 16px 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 450ms ease;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(.9);
}

.modal_language--img {
    width: 100%;
}

.modal__title {
    font-size: 24px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 18px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
    font-size: 16px;
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 450ms ease;
}

.modal__contact {
    background-color: black;
    color: white;
}

.modal__title--contact{

}

.modal__sub-title--contact {

}

.form__item {
    margin-bottom: 20px;

}

.form__submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px; 
    transition: all 350ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.modal__overlay--visible {
    z-index: 1;
}

.modal__overlay--loading {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 24px;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}

/*
    PROJECTS
*/

#projects {
    min-height: 100vh;
}

.section__title {
    font-size: 48px;
    margin-bottom: 64px;
    text-align: center;
}

.project {
    margin-bottom: 15vh;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 24px 80px 0 black;
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}


.project__img {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    transition: all 600ms ease;
}

.project:hover .project__img {
    transform: scale(1.07);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 88px;
    transform: translateY(100%);
    color: white;
    max-width: 550px;
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
}
.project__wrapper--bg {
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    opacity: 0;
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__description--title {
    font-size: 40px;
}

.project__description--sub-title {
    margin-top: 8px;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}

/*
    FOOTER
*/

footer {
    background-color: black;
    display: flex;
    padding: 6% 0;
}
    
.footer__container {
    margin: 0 auto;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__copyright,
.footer__social--link {
    color: white;
}

.footer__social--list {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
    margin: 20px 0;
}